/node_modules
/public/storage
/storage/*.key
/storage/*
/storage/framework/cache/data/
/storage/framework/cache/
/vendor
/vendor/*
/public/cache_log/*
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log