a,button{
    outline: none !important;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
    scroll-behavior: smooth;
    scroll-margin-top: 7.5rem;
}
.website-by{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.count-alert{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    background: rgb(253, 207, 3);
    color: #fff;
    text-align: center;
    padding: .8rem;
    margin-left: 1rem;
    border-radius: 100%;
}

.nav-primary ul.nav>li li a {
    font-weight: 700 !important;
    text-transform: none;
    font-size: 10px;
}

.panel .table td, .panel .table th {
    padding: 15px 15px !important;
    border-top: 1px solid #f1f1f1;
}

.switch input:checked+span:after {
    right: 0 !important;
    left: unset;
}

.switch span:after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 15px !important;
    top: 1px;
    bottom: 1px;
    border-radius: 30px;
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.25);
    box-shadow: 1px 1px 3px rgba(0,0,0,.25);
    -webkit-transition: left .2s;
    transition: left .2s;
}

.switch span {
    position: relative;
    width: 40px !important;
    height: 20px !important;
    border-radius: 30px;
    background-color: #fff;
    border: 1px solid #eee;
    border-color: rgba(0,0,0,.1);
    display: inline-block;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
}

.nav-primary ul.nav>li>a{
    text-transform: unset !important;
}

.bg-dark a {
    color: #ffffff;
}
/* .bg-dark{
    background-color: #04284d !important;
}

.bg-dark .nav>li>a {
    color: #ffffff;
}

.bg-dark, .bg-dark .lt{
    background-color: #04284d !important;
} */

.nav-primary ul.nav>li>a{
    border-top: unset !important;
}
.nav-primary li {
    line-height: 1.9;
}

.header-badge{
    background: #eee;
    padding: 0.5rem 0 0.5rem 1rem;
    display: flex;
    align-items: center;
    margin: 1rem 0rem;
}
.header-badge-full{
    background: #eee;
    padding: 0.5rem 0 0.5rem 1rem;
    display: flex;
    align-items: center;
    font-size: 25px;
    color: #333;
}

.pd-15{
    padding: 1.5rem;
}

ul.list-indicators{
    list-style: none;
    padding: 0;
    height: auto;
    max-height: 450px;
    overflow-y: auto;
    user-select: none;
}
ul.list-indicators li{
    padding-left: 1rem;
    padding: 0.5rem 1rem ;
}

ul.list-indicators li:hover{
    background: #eee;
}
ul.list-indicators li:not(:last-child){
    border-bottom: 3px solid #eee;
}
.font-weight-bold{
    font-weight: bold;
}
.primary-text{
    color: #04284d;
}
.primary-text h1{
    margin: 0;
}

.secondary-text{
    color: #e0206f !important;
}

.bc-head{
    font-size: 16px;
    color: #333;
    margin-top: 13px;
    display: inline-block;
    font-weight: 700;
}
.p-l-r-0{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.m-t-0{
    margin-top: 0 !important;
}

/* Navbar Move */
.sticky-top-nav{
    position: sticky;
    display: block;
    top: 0; 
    z-index: 2;
}
.nav-menu-btn{
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    background: #fff;
}

.nav-menu-btn ul{
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
}
.nav-menu-btn ul li{
    display: inline-block;
    font-size: 16px;
}

.nav-menu-btn ul li a{
    text-decoration: none;
    color: #333;
    display: inline-block;
    padding: 10px;
    transition: color 0.5s;
}

.nav-menu-btn ul li .underline {
	height: 3px;
	background-color: transparent;
	width: 0%;
	transition: width 0.2s, background-color 0.5s;
	margin: 0 auto;
}

.nav-menu-btn ul li.active-link .underline {
	width: 100%;
	background-color: #3869d4;
}

.nav-menu-btn ul li:hover .underline {
	background-color: #3869d4;
	width: 100%;
}

.nav-menu-btn ul li:active a {
	transition: none;
	color: rgba(255,255,255,0.76);
}
.navbar-container ul li:active .underline {
	transition: none;
	background-color: rgba(255,255,255,0.76);
}

.external-content{
    display: flex;
}
.external-content a{
    font-size: 22px;
    color: #333 !important;
}
.external-content a:not(:last-child){
    margin-right: 1rem;
}

.alexa{
    width: 18px;
    height: 18px;
    background-size: cover;
    display: inline-block;
    line-height: 33px;
    vertical-align: top;
}

/* Content Related Pules */
.related-pulses{
    display: flex;
    width: 100%;
}

.related-content,
.related-title,
.active-indicator,
.related-subscribers{
    display: flex;
}
.active-indicator{
    align-items: center;
    padding:0 1rem;
}
.related-subscribers{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
}
.related-content{
    width: calc(100% - 300px);
}
.related-img{
    width: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.related-content{
    flex-direction: column;
}
.related-title{
    margin: 0;
}
.pulse-indicator-counts{
    color: #979797;
    font-size: 10px;
}
.nowrap{
    white-space: nowrap;
}
.nowrap.ellipsis {
    text-overflow: ellipsis;
}
.br-last{
    border-right: 1px solid #979797;
    padding: 0 0.3rem;;
}
.insered:not(:last-child){
    margin-right: 0.5rem;
}

.details-wrapper ul{
    list-style: none;
}
.details-wrapper ul li{
    padding: 0;
    margin:1rem 0;
    border-bottom: unset !important;
}
.fas.fa-circle.white
{
    color: #d6d6d6 !important
}

.indicator-description{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10px;
    margin-top: 0.5rem;
}
.modified{
    border: 1px solid #3869d4;
    padding: 0.5rem;
    text-align: center;
    margin-right: 5px;
}
.details-wrapper ul li:not(:last-child){
    margin-right: 1rem;
}
ul.detail-show{
    display: flex;
    padding: 0;
}
.by-items{
    margin-top: 2rem;
}

.dot{
    height: 8px;
    width: 8px;
    border-radius: 8px;
    background: #7e858b;
    margin-right: 5px;
} 
.dot.green{
    background: #94cf05;
}
.dot.red{
    background: #e61d0f;
} 

.fz-10{
    font-size: 10px;
}

/* Show Comment */
ul.show-comments{
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.show-comments li{
    display: flex;
    padding: 2rem;
    border-bottom: 3px dashed #eee;
}
.responsive-img{
    width: 70px;
    height: 70px;
    position: relative;
    margin: 1rem;
}
.image-rouded{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 100%;
    background: #333;
    position: relative;
}
.detail-comments{
    width: 100%;
}

.image-rouded img{
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
}

.navbar-center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.w-400px{
    width: 400px;  
}

.form-custom{
    background: #ffffff26 !important;
}

input.form-transparent::placeholder{
    color: #d8d8d8 !important;
}
.form-transparent{
    border: none !important;
    border-radius: unset !important;
    background: transparent !important;
    border: none !important;
    color: #fff !important;
}

.icon-search{
    padding: 1rem;
}
.icon-search>i{
    font-size: 1.6rem;
    color: #fff;
}

@media (max-width:1020px){
    .w-400px{
       display: none;
    } 
}

.method-post,
.method-get{
    padding: 0.5rem 0rem;
    text-align: center;
    display: inline-block;
    user-select: none;
    width: 70px;
}
.method-get{
    background: #337ab7;
    color: #fff;
}
.method-post{
    background: #65bd77;
    color: #fff;
}

.bd-ol-ct{
    border:1px solid #eee;
    padding: 1rem;
    background: #fff;
}

.d-flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.d-flex{
    display: flex;
}

.haed-d-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.head-d-flex-nowrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.footer-action{
    background: #eaeaea;
    padding: 1rem;
}


/* CSS NEWS */
article.def-rlt{
    position: relative;
}
.relative{
    position: relative;
}

article.def-rlt figure.overlay {
    display: inline-block;
    margin-bottom: 15px;
    overflow: hidden;
    float: left;
    position: relative;
    width: 150px;
    height: 115px;
    overflow: hidden;
}

article.def-rlt .img-responsive {
    display: block;
    width: 100%;
    max-width: 150px;
}

article div.entry{
    display: block;
    padding: 1rem 15px;
    position: relative;
    overflow: hidden;
}
article.def-rlt span.entry-category{
    text-transform: uppercase;
    line-height: 12px;
    font-size: 12px;
    opacity: 1;
    font-weight: 700;
    color: #5c5c5c;
    display: block;
    margin-bottom: 5px;
}
article.def-rlt span.entry-category a{
    color: #337ab7 !important
}
article.def-rlt h3{
    line-height: 26px;
    font-weight: normal;
    font-style: normal;
    opacity: 1px;
    margin-top: 10px;
}
article.def-rlt div.entry-meta,
article.def-rlt div.entry-meta a
{
    line-height: 12px;
    color: #999;
    font-size: 12px;
}
div.entry-meta {
    display: block;
    font-size: 11px;
    color: #999;
    margin-top: -3px;
}
article.def-rlt div.description-text {
    color: #777;
    margin-top: 15px;
    line-height: 20px;
}
article.def-rlt figure.overlay a.thumb-overlay-small:before {
    bottom: 0;
    content: "";
    display: block;
    height: 70%;
    width: 100%;
    position: absolute;
    z-index: 10;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.5)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#b3000000', GradientType=0);
}
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto; 
    max-width: 150px;
    height: 100%;
    object-fit: cover;
    
}

.shadow-box-news{
    margin-bottom: 1rem;
    border-bottom: 2px solid #eee;
    padding: 1rem;
}

.header-text-badge{
    font-weight: 700;
    display: block;
    padding: 1rem;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    background: #eee;
}

.dash-card{
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 3rem 2rem;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    transition: all .3s ease-in-out;
    user-select: none;
    cursor: pointer;
}
.dash-card:hover{
    transform: translateY(-3px);
    box-shadow: 0 1px 10px rgba(0,0,0,.2);
}

.dash-name{
    font-weight: 700;
    margin-bottom: 2rem;
}
.dash-count{
    font-size: 56px;
    display: inline-block;
    font-size: 700;
}
.dash-count.color-purple{
    color: rgb(143, 8, 143);
}
.dash-count.color-red{
    color: rgb(223, 31, 31);
}
.dash-count.color-yellow{
    color: rgb(252, 207, 9);
}
.dash-count.color-blue{
    color: rgb(44, 92, 248);
}
.dash-count.color-green{
    color: rgb(52, 165, 29);
}
.dash-count.color-light-purple{
    color: rgb(77, 29, 165);
}

.main-dash{
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    height: auto;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    padding: 1rem;
    margin-bottom: 1.5rem;
    align-items: flex-end;
}
ul.item-list-dash{
    display: flex;
    list-style: none;
    padding: 0;
}
ul.item-list-dash li:not(:last-child){
    margin-right: 1rem;
}
.item-dash{
    padding: 1rem;
}
.item-dash.bg-blue{
    background: #4375ff73;
}
.item-dash.bg-green{
    background: #69ff4373;
}
.item-dash.bg-gray{
    background: #6b6b6b73;
}
.item-dash.bg-yellow{
    background: #ffbf3473;
}
.item-dash.bg-red{
    background: #ff3d2f73;
}
.item-dash.bg-purple{
    background: #e72fff73;
}
.item-dash:not(:last-child){
    margin-bottom: 1rem;
}

.main-dash-box{
    border: 1px solid #e4e4e4;
    padding: 2rem;
}

.main-dash-box:not(:last-child){
    margin-right: 1rem;
}

.section-jumborton{
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
    display: block;
}
.thumnail-img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 350px;
}

.jumborton-description{
    color: #fff !important;
    bottom: 0;
    width: 100%;
    display: block;
    margin:0 auto;
    z-index: 2;
    position: absolute;
}
.text-date{
    margin-right: 1rem;
}
.badeg-news,.badeg-view{
    white-space: nowrap;
    color: #fff;
    padding: .5rem 1rem;
}
.badeg-news{
    background: #e0206f;
}
.badeg-view{
    background: #65bd77;
    margin-left: 1rem;
}
.headding-secondary-text{
    display: block;
    margin-bottom: 1rem;
}
.container-description{
    position: relative;
    max-width: 90%;
    margin: auto;
    padding: 2rem;
    border-top: 2px solid #e0206f;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.5)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#b3000000', GradientType=0);
}

.headding-primary-text{
    display: block;
    font-size: 26px;
}
ul.news_related{
    list-style: none;
    padding: 0;
}
/* ul.news_related li:not(:last-child){ 
    margin-bottom: 10px;
} */
ul.news_related li{
    padding: 1.5rem;
    border-bottom: solid 4px #eaeaea;
}
ul.news_related li a{
    color: #333;
}
ul.news_related li a:hover{
    color: #333;
    text-decoration: underline;
}

.show-content-news{
    padding: 3rem 2rem;
    line-height: 150%;
}
.entry-view{
    margin-left: 1rem;
}

.shared-news{
    position: absolute;
    right: 10px;
    top: 8%;
}

.pos-rlt{
    position: relative;
}
.btn-shared{
    border-radius: 100%;
    padding: 1rem;
    color: #fff;
    background: #45a9ff;
    border: none;
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.mobi-d-block{
    display: inline;
    margin: 0;
}


.tab-content{
    border: 1px solid #e4e4e4;
}

.border-n{
    border: unset !important;
}
.menu-shared-main{
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
}
.menu-shared{
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: -30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90px;
    left: 0px;
    opacity: 0;
    transition: .3s ease-in-out;
}

.menu-shared.open-shared{
    left: -50px; 
    opacity: 1;
}
.d-none{
    display: none;
}
.d-block{
    display: block;
}
.menu-shared li a{
    color: #fff;
    display: inline-flex;
}

.pd-0{
    padding: 0 !important;
}
.icon-sc{
    font-size: 2rem;
    padding: 1rem;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 100%;
    border: none;
    transition: .3s ease-in-out;
}
.icon-sc:hover{
    opacity: .8;
}

.icon-sc.face{
    background-color: #3869d4;
}
.icon-sc.line{
    background-color: #00B900;
}

@media screen and (max-width:500px){
    .mobi-d-block{
        display: block;
    }
    .text-date{
        margin-bottom: 1rem;
        display: inline-block;
    }
    .headding-primary-text{
        font-size: 14px;
    }
    .icon-sc {
        font-size: 15px;
        padding: unset !important;
        width: 25px;
        height: 25px;
        text-align: center;
        border-radius: 100%;
        border: none;
        transition: .3s ease-in-out;
        align-items: center;
        justify-content: center;
        display: flex;
        line-height: 180% !important;
    }
    .btn-shared{
        border-radius: 100%;
        padding: 1rem;
        color: #fff;
        background: #45a9ff;
        border: none;
        width: 25px;
        height: 25px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
    }
    .menu-shared.open-shared {
        left: -20px;
        opacity: 1;
    }
    .menu-shared {
        list-style: none;
        padding: 0;
        margin: 0;
        position: absolute;
        top: -21px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60px;
        left: 0px;
        opacity: 0;
        transition: .3s ease-in-out;
    }
}

ul.total-count{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

ul.total-count li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 1rem;
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
    margin-bottom: 1rem;
}




/* Accordions */
.accordion {
    background-color: #eee;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    user-select: none;
    position: relative;
  }

  .accordion::after{
      content: "-";
      position: absolute;
      right: 20px;
      font-size: 32px;
      top: 50%;
      transform: translateY(-50%);
      /* width: 30px;
      height: 30px; */
      background: transparent;
      color: #3869d4;
      /* border-radius: 100%; */
      /* border:1px solid #3869d4; */
      text-align: center;
      transition: transform .3s ease-in-out;
  }

  .active.accordion::after{
      content: "+";
      /* transform: translateY(-50%) rotate(45deg); */
  }
  
  .active.accordion, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel-accordion {
    /* padding: 0 18px; */
    display: block;
    background-color: white;
  }

  .total-count li span.color-purple{
    font-size: 40px;
    color: #743ee2;
  }
  .total-count li span.color-red{
    font-size: 40px;
    color: #ff5858;
  }
  .total-count li span.color-green{
    font-size: 40px;
    color: #65bd77;
  }




  ul.total-count-com {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

  .total-count-com li.total-p1 span.color-purple{
    font-size: 22px;
    color: #743ee2;
  }
  .total-count-com li.total-p1 span.color-red{
    font-size: 22px;
    color: #ff5858;
  }
  .total-count-com li.total-p1 span.color-green{
    font-size: 22px;
    color: #65bd77;
  }

  .total-p1{
    padding: 1rem !important;
    text-align: center;
    border-bottom: 2px solid #eee;
    width: 100%;
  }

  .border-alpha{
      border: 1px solid #eee;
  }

  @media screen and (min-width:1300px){
      .d-f-j-ct{
          display: flex;
          justify-content: center;
      }
  }

  .lobilist-check.lobilist-check-top{
    top: 6px !important;
  }

  .lobilist-item.custom-lobilist-item {
    border: 1px solid transparent;
    margin-bottom: 5px;
    border-bottom: 1px solid #eee;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
    position: relative;
    padding: 1rem 1rem 1rem 40px !important;
}
.b-d-all{
    border: 2px solid #eee !important;
}
.btn-absolute{
    position:absolute;
    top:50%;
    right:25px;
    transform:translateY(-50%)
}

.select2-container{
    width: 100% !important;
}

.m-none{
    margin:0 !important;
}


@media screen and (max-width:405px){
    ul.detail-show {
        display: flex;
        padding: 0;
        flex-direction: column;
    }
    ul.detail-show li{
        margin: .5rem 0 !important;
    }
    .pulse-indicator-counts{
        margin-top: .5rem;
    }
}
@media screen and (max-width:1184px){
    .related-pulses{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .related-img{
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: start;
        align-items: start;
        padding: 1rem;
    }
    .related-title{
        display: flex;
        flex-direction: column;
        align-items: self-end;
    }
    .related-content {
        width: 100%;
    }
    .active-indicator {
        align-items: center;
        padding: 1rem 0rem;
        flex-direction: row;
    }
    .related-subscribers{
        display: none;
    }
}

.preview_logo{
    height: 30px;
    width: 60px;
    border: 1px solid #eee;
    overflow: hidden;
    margin: auto;
}