.website-by{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.count-alert{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    background: rgb(253, 207, 3);
    color: #fff;
    text-align: center;
    padding: .8rem;
    margin-left: 1rem;
    border-radius: 100%;
}

.panel .table td, .panel .table th {
    padding: 15px 15px !important;
    border-top: 1px solid #f1f1f1;
}

.switch input:checked+span:after {
    right: 0 !important;
    left: unset;
}

.switch span:after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 15px !important;
    top: 1px;
    bottom: 1px;
    border-radius: 30px;
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.25);
    box-shadow: 1px 1px 3px rgba(0,0,0,.25);
    -webkit-transition: left .2s;
    transition: left .2s;
}

.switch span {
    position: relative;
    width: 40px !important;
    height: 20px !important;
    border-radius: 30px;
    background-color: #fff;
    border: 1px solid #eee;
    border-color: rgba(0,0,0,.1);
    display: inline-block;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
}

.nav-primary ul.nav>li>a{
    text-transform: unset !important;
}

.bg-dark{
    background-color: #04284d !important;
}
.bg-dark a {
    color: #ffffff;
}
.bg-dark .nav>li>a {
    color: #ffffff;
}

.bg-dark, .bg-dark .lt{
    background-color: #04284d !important;
}

.header-badge{
    background: #eee;
    padding: 1rem;
    display: flex;
    align-items: center;
}

ul.list-indicators{
    list-style: none;
    padding: 0;
    height: auto;
    max-height: 450px;
    overflow-y: auto;
    user-select: none;
}
ul.list-indicators li{
    padding-left: 1rem;
}

ul.list-indicators li:hover{
    background: #eee;
}
ul.list-indicators li:not(:last-child){
    border-bottom: 3px solid #eee;
    padding-bottom: 1rem ;
}
.font-weight-bold{
    font-weight: bold;
}
.primary-text{
    color: #04284d;
}
.secondary-text{
    color: #e0206f !important;
}